{% extends "base.html" %}

{% block nav %}
  <a class="nav-link" href="/home">Home</a>
  <a class="nav-link active" href="/search">Search</a>
  <a class="nav-link" href="/login">Login</a>
{% endblock %}

{% block content %}
  <h2>Search by <select>
                <option value="name">Name</option>
                <option value="company">Company</option>
                <option value="position">Postion</option>
                <option value="gradYear">Graduation Year</option>
              </select>
  </h2>
  <br>
  <br>
  <form>
    <input type="text" name="searchedValue"
           style="width:400px; text-align:center; font-size:25px"><br>
  </form>

  <br>

{% endblock %}
